#include "Resource.h"
#include <windows.h>


IDD_MAIN_DIALOG DIALOGEX 0, 0, 220, 140

STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OCR Çeviri - Mod Seçimi"
FONT 9, "Segoe UI"

BEGIN
LTEXT         "Lütfen bir mod seçin:", -1, 10, 10, 200, 10
CONTROL       "Tam Ekran", IDC_RADIO_FULLSCREEN, "Button", 
WS_TABSTOP | WS_GROUP | BS_AUTORADIOBUTTON, 10, 30, 100, 16
CONTROL       "Bölgesel Seç", IDC_RADIO_REGION, "Button", 
WS_TABSTOP | BS_AUTORADIOBUTTON, 10, 55, 100, 16
DEFPUSHBUTTON "Tamam", IDOK, 50, 110, 60, 20
PUSHBUTTON    "İptal", IDCANCEL, 130, 110, 60, 20
END

